<template name="menu" >
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
    	<ul class="nav navbar-nav" style="width: 100%;">
    		<li class="{{#if isCurrentPage 'welcome'}}active{{/if}}">
    			<a href="/">Welcome</a>
    		</li>
    		 <li class="{{#if isCurrentPage 'gameS'}}active{{/if}}">
    			<a href="/Game_Slection">Game Slection</a>
    		</li>
            <li class="{{#if isCurrentPage 'newG'}}active{{/if}}">
                <a href="/NewGame">New Games</a>
            </li>
            <li class="{{#if isCurrentPage 'fGame'}}active{{/if}}">
        			<a href="/Find_Game">Find Game</a>
        		</li>
            <li class="{{#if isCurrentPage 'lesscSheet'}}active{{/if}}">
        			<a href="/Character_Sheet">Character Sheet</a>
        		</li>
    	</ul>
    </nav>
</template>
